# gRPC Server
GRPC_PORT=50055

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=hyperserve_orders
DB_USER=postgres
DB_PASSWORD=postgres
DB_MIN_SIZE=5
DB_MAX_SIZE=20

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_ORDER_CREATED_TOPIC=order.created
KAFKA_ORDER_STATUS_CHANGED_TOPIC=order.status_changed

# Cart Service (gRPC)
CART_SERVICE_HOST=cart-service
CART_SERVICE_PORT=50050

# Catalog Service (gRPC)
CATALOG_SERVICE_HOST=catalog-service
CATALOG_SERVICE_PORT=50051

# Logging
LOG_LEVEL=INFO
